			<div class="page-header">
				<h2><b>Device list</b></h2>
			</div>

			<div class="encoding" workbench-address-encoding-ctrl></div>

				<table class="table" ng-show="net.devicemap">
					<thead>
						<tr>
							<th>Device</th>
							<th>Address</th>
							<th>Type</th>
							<th>Provisioned</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(k, item) in net.devicemap">
							<td>
								<a ng-href="#/device/{{net.key}}/{{k}}">{{item.name || k}} ({{k}})</a>
							</td>
							<td>{{item.address | address:this.opts}}</td>
							<td>{{item.type}}</td>
							<td>{{item.provisioned}}</td>
							<td> &nbsp;
								<a title="Query"     ng-href="#/device/{{net.key}}/{{k}}/query"> <i class="glyphicon glyphicon-stats"></i></a>&nbsp;&nbsp;&nbsp;
								<a title="Configure" ng-href="#/device/{{net.key}}/{{k}}/configure" style="color: darkgrey"> <i class="glyphicon glyphicon-cog"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
