			<div class="row">
				<div class="page-header">
					<h2>{{net.name || ("Unnamed network (" + net.key + ")")}}</b></h2>

					<div class="encoding" workbench-address-encoding-ctrl></div>
				</div>


				<div class="row">
					<div class="col-md-7">
						<dl class="dl-horizontal">
							<dt>Network Name</dt>
							<dd tm-editable="net.name">{{net.name || ("Unnamed network (" + net.key + ")")}}</dd>

							<dt>Address</dt>
							<dd>{{net.address | address:this.opts:true}}</dd>

							<dt>Types</dt>
							<dd>
								<span ng-repeat="(k, v) in net.types">
									<a title="Edit type">{{v.name || k}}</a>,
								</span>
							</dd>

							<dt>Groups</dt>
							<dd>
								<span class="label label-info" ng-show="net.groups.length == 0">
									No groups available
								</span>
								<span ng-repeat="(k, v) in net.groups">
									<a title="View group">{{v.name || k}}</a>,
								</span>
							</dd>

							<dt>Default Provision</dt>
							<dd ng-init="deftype = false; picktype = false" class="plug-out-parent">
								<a ng-click="deftype = !deftype">
									{{net.provision.default}}
									<span class="glyphicon glyphicon-pencil" />
								</a>
								<span ng-show="net.provision.default == 'active'"> type:
								<a ng-click="picktype = !picktype">
									{{net.provision.type || "device"}}
									<span class="glyphicon glyphicon-pencil" />
								</a>
								</span>

								<div class="plug-out" ng-class="{active: deftype}">
									<form>
										<div class="col-xs-10">
											<select class="form-control" ng-model="net.provision.default">
												<option value="active">Active</option>
												<option value="inactive">Inactive</option>
											</select>

											<p>
												<br />
												If <code>active</code> new devices can be
												created automatically when they send data,
												<code>inactive</code> discards communication
												from such devices.
											</p>
										</div>
										<div class="col-xs-1 closebtn">
											<a ng-click="deftype = false" class="glyphicon glyphicon-ok" />
										</div>
									</form>
								</div>

								<div class="plug-out" ng-class="{active: picktype}">
									<form>
										<div class="col-xs-10">
											<select class="form-control" ng-model="net.provision.type">
												<option ng-repeat="(k,v) in net.types" value="{{k}}">{{v.name || k}}</option>
											</select>

											<p>
												<br />
												The default type which automatically
												provisioned devices should be set to.
											</p>
										</div>
										<div class="col-xs-1 closebtn">
											<a ng-click="picktype = false" class="glyphicon glyphicon-ok" />
										</div>
									</form>
								</div >
							</dd>

							<dt>Device count</dt>
							<dd>{{net.meta.device.count}}
								<span class="hidden tooltip">
									Active: {{net.meta.device.count.active}}<br />
									Inactive: {{net.meta.device.count.inactive}}
								</span>
							</dd>

							<dt>Message count</dt>
							<dd>
								{{net.meta.msg.in.count + net.meta.msg.out.count}}
								<span class="hidden tooltip">
									In: {{net.meta.msg.in.count}}<br />
									Out: {{net.meta.msg.out.count}}<br />
									Last: {{net.meta.msg.last}}<br />
								</span>
							</dd>
						</dl>
					</div>

					<div class="col-xs-5">
						<div>
							<h4>Access Information</h4>
							<dl class="dl-horizontal">
								<dt>Activated?</dt>
								<dd><span class="label label-success">Yes</span></dd>

								<dt>ACL resources</dt>
								<dd>
										<span ng-repeat="v in net.parents">
											<a title="View resource: v" ng-href="#{{v}}">{{v}}</a>,
										</span>
								</dd>
							</dl>
						</div>
						<div>
							<h4>Network Overview</h4>
							<dl class="dl-horizontal">
								<dt>Channels</dt>
								<dd>
									<span ng-show="net.channels.length > 0"
										class="label" style="margin-right: 10px"
										ng-class="{'label-danger':!chan.active,'label-success':chan.active}"
										ng-repeat="(k, chan) in net.channels">
										<span>{{k}}</span>
											<span ng-show="!chan.active">(Connection unavailable)</span>
											<span ng-show="chan.active">(Connected)</span>
									</span>
									<span ng-show="net.channels.length == 0"
class="label label-danger">
										No channels in network
									</span>
								</dd>
							</dl>
						</div>
					</div>
				</div>

				<div class="row actions">
					<button ng-click="updateNetwork(net)" class="pull-right btn btn-primary">Save Network Changes</button>
				</div>
			</div>
