<div class="controller-containers container">
	<div class="page-header">
	</div>

	<form class="bs-callout bs-callout-info">
		<h2>Edit container {{name}}</h2>

		<dl class="dl-horizontal col-md-5">
			<dt>Name</dt>
			<dd tm-editable="res.name" />

			<dt>Location: City</dt>
			<dd tm-editable="res.location.city" />

			<dt>Location: Country</dt>
			<dd tm-editable="res.location.country" />

			<dt />
			<dd class="pull-right">
				<br />
				<button ng-click="updateResource(res)"  class="btn btn-primary btn-sm" ng-disabled="false == _changed">Save changes</button>
			</dd>
		</dl>

		<div class="clearfix"></div>

	</form>

	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Address</th>
				<th># messages</th>
				<th>Last Update</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in res.devices">
				<td>
					<a ng-href="#/device/{{container}}/{{item.key}}">{{item.name || "Unnamed device"}} ({{item.key}})</a>
					<a ng-href="#/channel/{{container}}/{{channel[item.address][0]}}"
					   ng-show="{{channel[item.key]}}"
					   ng-class="{'label-success': channel[item.key][1], 'label-warning': !channel[item.key][1]}"
					   class="label">Network connector</a>
				</td>
				<td>{{item.address}}</td>
				<td>{{item.counters.msg_event || 0}} // {{item.counters.msg_command || 0}} // {{item.counters.msg_fail || 0}}</td>
				<td><a ng-href="#/message/{{container}}/{{item.key}}/{{item.last_message}}">{{item.updated || "unknown"}}</a></td>
			</tr>
		</tbody>
	<table>
</div>
