<div class="controller-containers container">
	<div class="page-header">
			<h1>Container: {{name}}</h1>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>Address</th>
				<th>Name</th>
				<th># messages</th>
				<th>Last Update</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in devices">
				<td><a ng-click="openDevice(key, item.key)">{{item.name || "Unnamed device"}} ({{item.key}})</a></td>
				<td>{{item.address}}</td>
				<td>{{item.msg_count || "unknown"}}</td>
				<td><a ng-click="openMessage(key, item.key, item.last_message)">{{item.updated || "unknown"}}</a></td>
			</tr>
		</tbody>
	<table>
</div>
