<div class="notifications success" ng-show="msg.success">
	<div class="container">
		<b><span class="glyphicon glyphicon-ok" /></b> &nbsp;
		{{msg.success}}

		<a ng-click="msg.success = undefined;" class="pull-right">
			<span class="glyphicon glyphicon-remove">&nbsp;</span>
		</a>
	</div>
</div>
<div class="notifications" ng-show="msg.info">
	<div class="container">
		{{msg.info}}

		<a ng-click="msg.info = undefined;" class="pull-right">
			<span class="glyphicon glyphicon-remove">&nbsp;</span>
		</a>
	</div>
</div>
<div class="controller-containers container">
	<div class="row">
	<div class="col-md-12">
		<ul class="nav nav-tabs">
			<li ng-class="{active: activetab == 'view'}">
				<a ng-href="#/device/{{route.network}}/{{route.device}}">Overview</a>
			</li>
			<li ng-class="{active: activetab == 'configure'}">
				<a ng-href="#/device/{{route.network}}/{{route.device}}/configure">Configuration</a>
			</li>
			<li ng-class="{active: activetab == 'command'}">
				<a ng-href="#/device/{{route.network}}/{{route.device}}/command">Commands</a>
			</li>
			<li ng-class="{active: activetab == 'query'}">
				<a ng-href="#/device/{{route.network}}/{{route.device}}/query">Query</a>
			</li>
		</ul>
	</div>

	<div class="col-md-9">
		<div ng-switch on="activetab" class="container">
			<div ng-switch-when="view">
				<div ng-include="'partials/device/view.html'"></div>
			</div>
			<div ng-switch-when="configure">
				<div ng-include="'partials/device/configure.html'"></div>
			</div>
			<div ng-switch-when="command">
				<div ng-include="'partials/device/command.html'"></div>
			</div>
			<div ng-switch-when="query">
				<div ng-include="'partials/query.html'" ng-controller="wbQueryCtrl"></div>
			</div>
			<div ng-switch-default>
				<div class="page-title">
					<h1>Not found ;/</h1>
				</div>

				<p class="alert alert-danger">
					The tab '{{activetab}}' could not be found
				</p>
			</div>
		</div>
	</div>

</div>
