<div class="controller-containers row">
	<ul class="nav nav-pills container">
		<li ng-click="tab('overview')" ng-class="{active: tab() == 'overview'}"><a>Overview</a></li>
		<li ng-click="tab('config')" ng-class="{active: tab() == 'config'}"><a>Configuration</a></li>
		<li ng-click="tab('command')" ng-class="{active: tab() == 'command'}"><a>Commands</a></li>
		<li ng-click="tab('messages')" ng-class="{active: tab() == 'messages'}"><a>Query</a></li>
	</ul>

	<div ng-show="alertBody" class="error-container container">
		<hr />
		<div class="login-alert alert alert-{{alertClass}}">
			{{alertBody}}
		</div>
	</div>

	<div ng-show="tab() == 'overview'" class="container">
		<form>
		<h2>{{device.name}}</h2>

		<dl class="dl-horizontal col-sm-4">
			<dt>Name</dt>
			<dd tm-editable="device.name" />

			<dt>Type</dt>
			<dd tm-editable="device.type" />

			<dt>Address</dt>
			<dd>{{device.address}}</dd>

			<dt>Hardware Revision</dt>
			<dd>{{device['tm/state']['proto/tm'].hardware}}</dd>

			<dt>Firmware revision</dt>
			<dd>{{device['tm/state']['proto/tm'].firmware}}</dd>
		</dl>

		<dl class="dl-horizontal col-sm-4">
			<dt>State</dt>
			<dd>
				<span ng-show="connected" class="label label-success">Communicating</span>
				<span ng-show="!connected" class="label label-danger">Disconnected</span>
			</dd>

			<dt>Encryption<dt>
			<dd><span class="label label-warning">Disabled</span></dd>

			<dt>Current connection(s)</dt>
			<dd>
				<a ng-repeat="(k, i) in net.channel"
				   ng-show="{{i[1]}}"
				   ng-href="#/{{resource}}/device/{{net.key}}/{{k}}">{{k}}<span ng-show="!$last">, </span></a>
				<span ng-show="!connected" class="label label-danger">None</span>
			</dd>

			<dt>Known gateways</dt>
			<dd>
				<a ng-repeat="(k, i) in net.channel"
				   ng-href="#/{{resource}}/device/{{net.key}}/{{k}}">{{k}}<span ng-show="!$last">, </span></a>
			</dd>

		</dl>

		<dl class="dl-horizontal col-sm-4">
			<dt>Last Updated</dt>
			<dd>
				<a ng-href="#/{{resource}}/message/{{net.key}}/{{device.key}}/{{device['tm/state'].key}}">
						{{(last_msg.datetime || device.updated) | date:'short'}}
				</a>
			</dd>

			<dt>Message Count</dt>
			<dd>{{device.counters.msg_event || 0 | number}} / {{device.counters.msg_command || 0 | number}} <i>(in / out)</i></dd>

			<dt>Message queue</dt>
			<dd>{{device.counters.queue_len || 0 | number}} / {{device.counters.queue_out || 0 | number}} <i>(left / sendt)</i></dd>
		</dl>

		<div class="pull-right">
			<button ng-click="updateDevice(device)"  class="btn btn-primary" ng-disabled="false == _changed">Save changes</button>
		</div>
		</form>
	</div>

	<div ng-show="tab() == 'config'" class="container" ng-controller="wbDeviceCfgCtrl">
		<form name="config" class="form-horizontal" role="form">
			<br />
			<div class="alert alert-warning">
				<b>Info:</b> Device configuration service is currently read-only. Sorry for any inconvenience.
			</div>

			<div ng-show="conf._numKeys === 0" class="alert alert-info">
				<b>Notice:</b> The configuration for this device have not been retrieved yet.
			</div>

			<br />
			<div class="col-sm-2 pull-right">
				<button ng-click="sendMessage({type:'command',command:'get_config', cmd_number:41})"
					class="btn btn-info">
					<span class="glyphicon glyphicon-refresh"></span>
					Get configuration</button>
			</div>

			<div ng-show="conf._numKeys > 0" class="alert alert-info">
				<div ng-repeat="(key, name) in {dev: 'Device', 'gpio': 'IO functions', net: 'Network', net_cluster: 'Clustering', uart:'UART', 'misc':'General'}">
					<h3>{{name}}</h3>
					<div class="form-group">
						<div ng-repeat="(p, v) in conf[key]" class="col-lg-4 form-group">
							<label for="cfg-{{p}}" class="col-lg-6 control-label">{{p}}</label>
							<div class="col-lg-6">
								<input disabled type="text" class="form-control" id="cfg-{{p}}" value="{{v}}"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

	<div ng-show="tab() == 'command'" class="container">
		<div class="row">
			<form ng-submit="sendMessage(message)" class="col-md-12 bs-callout bs-callout-info">
				<h3>Send Command</h3>

				<div class="row">
					<div class="form-group col-xs-2">
						<label for="message-cm d">Command Type</label>
						<select ng-model="message.command" id="message-cmd" class="form-control">
							<option value="set_output">Set Output</option>
							<option value="set_pwm">Set PWM</option>
							<option value="init_gw_config">Set GW config mode</option>
							<option value="get_cid">Get CID</option>
							<option value="get_status">Get Status</option>
							<option value="get_did_status">Get DID status</option>
							<option value="get_config">Get config</option>
							<option value="force_reset">Force reset</option>
							<option value="get_path">Get Path</option>
							<option value="serial" selected>Serial data</option>
						</select>
					</div>

					<div class="form-group col-xs-2">
						<label for="message-cmd-num">Command Number:</label>
						<input ng-model="message.cmd_number" type="number" class="form-control" id="message-cmd-num" placeholder="Command Number">
					</div>
				</div>

				<div ng-show="message.command === 'serial'" class="form-group">
					<label for="message-data">ASCII String</label>
					<input ng-model="message.data" type="text" class="form-control" id="message-data" placeholder="Enter ASCII string">
				</div>

				<div ng-show="message.command === 'set_pwm'" class="form-group">
					<label for="message-pwm">Set PWM</label>
					<input ng-model="message.pwm" type="number" class="form-control" id="message-pwm" placeholder="PWM ...">
				</div>

				<div ng-show="message.command === 'set_output'" class="form-group">
					<h4>Set GPIO pins</h4>
					<label>
						GPIO 0
						<input ng-model="message.output.0" type="checkbox" />
					</label>
					<label>
						GPIO 1
						<input ng-model="message.output.1" type="checkbox" />
					</label>
					<label>
						GPIO 2
						<input ng-model="message.output.2" type="checkbox" />
					</label>
					<label>
						GPIO 3
						<input ng-model="message.output.3" type="checkbox" />
					</label>
					<label>
						GPIO 4
						<input ng-model="message.output.4" type="checkbox" />
					</label>
					<label>
						GPIO 5
						<input ng-model="message.output.5" type="checkbox" />
					</label>
					<label>
						GPIO 6
						<input ng-model="message.output.6" type="checkbox" />
					</label>
					<label>
						GPIO 7
						<input ng-model="message.output.7" type="checkbox" />
					</label>
				</div>

				<p>
					<code>{{filter(message.command, message)}}</code>
				</p>

				<div class="col-md-2 pull-right">
					<button type="submit" class="btn btn-primary">Send</button>
				</div>

				<div class="clearfix">&nbsp;</div>

			</form>
		</div>
	</div>

	<div ng-show="tab() == 'messages'" class="container" ng-controller="wbDeviceMsgCtrl">
		<div class="row">
			<form ng-submit="fetchMessages(date.from, date.to);" name="messageSelector" class="form-horizontal bs-callout bs-callout-info" role="form">
				<h3>Fetch messages</h3>

				<div class="col-md-4 form-group" ng-class="{error: messageSelector.dateFrom.$invalid}">
					<label for="date-from" class="col-lg-2 control-label">From</label>
					<div class="col-lg-10">
						<input ng-model="date.from" type="datetime-local" class="form-control" id="date-from" name="dateFrom" />
					</div>
				</div>

				<div class="col-md-4 form-group" ng-class="{error: messageSelector.dateTo.$invalid}">
					<label for="date-to" class="col-lg-2 control-label">To</label>
					<div class="col-lg-10">
						<input ng-model="date.to" type="datetime-local" class="form-control" id="date-to" name="dateTo" />
					</div>
				</div>

				<div class="col-md-2">
					<button type="submit" class="btn btn-primary">Fetch messages</button>
				</div>
				<div class="clearfix">&nbsp;</div>
			</form>
		</div>

		<div class="row">
			<div
				ng-show="messages.length == 0"
				ng-class="{'bs-callout-warning': !querySubmitted, 'bs-callout-danger': querySubmitted}"
				class="bs-callout" >
				<p ng-show="querySubmitted">
					Your query returned an empty result set. Maybe out of range?
				</p>
				<p ng-show="!querySubmitted">
					Query a message time range by picking a from/to date above
				</p>
			</div>

			<table ng-show="messages.length > 0 " class="table">
				<thead>
					<tr>
						<th>Time</th>
						<th>Message # (packet &ndash; sequence #)</th>
						<th>Type</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="msg in messages">
						<td><a ng-href="#/{{resource}}/message/{{net.key}}/{{device.key}}/{{msg.key}}">{{msg.datetime}}</a></td>
						<td>{{msg['proto/tm'].packet_num}} &ndash; {{msg['proto/tm'].sequence || 0}}</td>
						<td>{{msg.type}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div ng-show="false !== _.isEmpty(msg)" class="container">
		<hr />
		<a ng-repeat="i in msg" class="list-group-item"
		   ng-href="#/{{resource}}/message/{{net.key}}/{{device.key}}/{{i.key}}">
			<span ng-show="'event' == i['proto/tm'].type">Received</span>
			<span ng-show="'command' == i['proto/tm'].type">Sent</span>
			<i>{{i.type}}</i> @ {{i.datetime | date:'HH:mm:ss.sss'}}
			<span ng-show="'event' == i['proto/tm'].type"> with id {{i['proto/tm'].packet_num}}</span>
			<span ng-show="'command' == i['proto/tm'].type"> with cmd number {{i['proto/tm'].cmd_number}}</span>
			<span ng-show="'command/serial' == i.type"><b>data:</b> <i>{{i['proto/tm'].data}}</i></span>
			<span ng-show="'event/serial' == i.type"><b>data:</b> <i>{{i['proto/tm'].serial}}</i></span>
		</a>
	</div>
</div>
