<div class="login">
	<div class="palette-info login-screen">
		<div class="login-container">
			<div ng-show="authError" class="login-alert alert alert-danger">
				<b>Error:</b> {{authError}}
			</div>

			<div ng-show="0 !== status" class="login-alert alert alert-danger">
				<b>Error:</b>
				<ng-switch on="status">
						<span ng-switch-when="401">Invalid credentials</span>
						<span ng-switch-when="500">An unknown error occured</span>
				</ng-switch>
			</div>

			<div class="login-icon">
				<img src="images/login/icon.png" alt="Welcome to Tinymesh Cloud">
				<h4>Login to <small>Tinymesh Cloud</small></h4>
			</div>

			<div class="login-form">
				<form ng-submit="login(auth)" name="loginForm">
					<div class="control-group" ng-class="{error: loginForm.email.$invalid}">
						<input ng-model="auth.email" name="email" type="email" class="login-field" value="" placeholder="Enter your email" id="login-email">
						<label class="login-field-icon fui-man-16" for="login-email"></label>
					</div>

					<div class="control-group" ng-class="{error: loginForm.password.$invalid}">
						<input ng-model="auth.password" ng-minlength="8" name="password" type="password" class="login-field" value="" placeholder="Password" id="login-pass">
						<label class="login-field-icon fui-lock-16" for="login-pass"></label>
					</div>
					<input type="submit" value="Login" class="btn btn-primary btn-large btn-block btn-info" />
				</form>

		<!--
						<a class="login-link" href="#">Lost your password?</a>
		-->
			</div>

	</div>
</div>
