<div class="container">
	<div class="page-header">
		<h1>View message</h1>
	</div>

	<div ng-show="msg['proto/tm'].type == 'command'">
		<dl class="dl-horizontal col-sm-4">
			<dt>Device</dt>
			<dd>{{net.key}}/{{device.key}}</dd>

			<dt>Type</dt>
			<dd>{{msg.type}}</dd>

			<dt>Sent date</dt>
			<dd>{{msg.datetime | date:short}}</dd>

			<dt>Unique ID</dt>
			<dd>{{msg.['proto/tm'].uid || 'inferred'}}</dd>

			<dt>Command Number</dt>
			<dd>{{msg['proto/tm'].cmd_number}}</dd>
		</dl>

		<div class=col-sm-8" ng-show="msg['proto/tm'].command == 'serial'">
			<h3>Data:</h3>

			<code>{{msg['proto/tm'].data}}</code>
		</div>

		<div class=col-sm-8" ng-show="msg['proto/tm'].command == 'set_pwm'">
			<h3>PWM:</h3>

			<code>{{msg['proto/tm'].pwm}}</code>
		</div>

		<div class=col-sm-8" ng-show="msg['proto/tm'].command == 'set_output'">
			<h3>Set outputs:</h3>

			<dl class="dl-horizontal col-sm-4">
					<dt ng-show="undefined != msg['proto/tm'].output.0">GPIO #0</dt>
					<dd ng-show="undefined != msg['proto/tm'].output.0">{{msg['proto/tm'].output.0}}</dd>

					<dt ng-show="undefined != msg['proto/tm'].output.1">GPIO #1</dt>
					<dd ng-show="undefined != msg['proto/tm'].output.1">{{msg['proto/tm'].output.1}}</dd>

					<dt ng-show="undefined != msg['proto/tm'].output.2">GPIO #2</dt>
					<dd ng-show="undefined != msg['proto/tm'].output.2">{{msg['proto/tm'].output.2}}</dd>

					<dt ng-show="undefined != msg['proto/tm'].output.3">GPIO #3</dt>
					<dd ng-show="undefined != msg['proto/tm'].output.3">{{msg['proto/tm'].output.3}}</dd>

					<dt ng-show="undefined != msg['proto/tm'].output.4">GPIO #4</dt>
					<dd ng-show="undefined != msg['proto/tm'].output.4">{{msg['proto/tm'].output.4}}</dd>

					<dt ng-show="undefined != msg['proto/tm'].output.5">GPIO #5</dt>
					<dd ng-show="undefined != msg['proto/tm'].output.5">{{msg['proto/tm'].output.5}}</dd>

					<dt ng-show="undefined != msg['proto/tm'].output.6">GPIO #6</dt>
					<dd ng-show="undefined != msg['proto/tm'].output.6">{{msg['proto/tm'].output.6}}</dd>

					<dt ng-show="undefined != msg['proto/tm'].output.7">GPIO #7</dt>
					<dd ng-show="undefined != msg['proto/tm'].output.7">{{msg['proto/tm'].output.7}}</dd>

			</dl>
		</div>
	</div>

	<div ng-show="msg['proto/tm'].type == 'event'">
		<dl class="dl-horizontal col-sm-4">
			<dt>Device</dt>
			<dd>{{net.key}}/{{device.key}}</dd>

			<dt>Type</dt>
			<dd>{{msg.type}}</dd>

			<dt>Received date</dt>
			<dd>{{msg.datetime | date:short}}</dd>

			<dt>System ID</dt>
			<dd>{{msg['proto/tm'].sid}}</dd>

			<dt>Unique ID</dt>
			<dd>{{msg['proto/tm'].uid || 'infered'}}</dd>

			<dt>Hardware Revision</dt>
			<dd>{{msg['proto/tm'].hardware}}</dd>

			<dt>Firmware Revision</dt>
			<dd>{{msg['proto/tm'].firmware}}</dd>
		</dl>

		<dl class="dl-horizontal col-sm-4">
			<dt>RSSI</dt>
			<dd>{{msg['proto/tm'].rssi}}</dd>

			<dt>Network Level</dt>
			<dd>{{msg['proto/tm'].network_lvl}}</dd>

			<dt>Jump Count</dt>
			<dd>{{msg['proto/tm'].jump_count}}</dd>

			<dt>Packet Number</dt>
			<dd>{{msg['proto/tm'].packet_num}}</dd>

			<dt>Latency</dt>
			<dd>{{msg['proto/tm'].latency}}</dd>

			<dt>Message Type</dt>
			<dd>{{msg['proto/tm'].type}}</dd>

			<dt>Message Detail</dt>
			<dd>{{msg['proto/tm'].detail}}</dd>

			<dt>Message Data</dt>
			<dd>{{msg['proto/tm'].msg_data}}</dd>

			<dt>Locator</dt>
			<dd>{{msg['proto/tm'].locator}}</dd>

			<dt>Temperature</dt>
			<dd>{{msg['proto/tm'].temp + 128}}</dd>

			<dt>Voltage</dt>
			<dd>{{msg['proto/tm'].voltage}}</dd>
		</dl>

		<dl class="dl-horizontal col-sm-4">
			<dt>Digital IO 0</dt>
			<dd>{{msg['proto/tm'].digital_io_0}}</dd>

			<dt>Digital IO 1</dt>
			<dd>{{msg['proto/tm'].digital_io_1}}</dd>

			<dt>Digital IO 2</dt>
			<dd>{{msg['proto/tm'].digital_io_2}}</dd>

			<dt>Digital IO 3</dt>
			<dd>{{msg['proto/tm'].digital_io_3}}</dd>

			<dt>Digital IO 4</dt>
			<dd>{{msg['proto/tm'].digital_io_4}}</dd>

			<dt>Digital IO 5</dt>
			<dd>{{msg['proto/tm'].digital_io_5}}</dd>

			<dt>Digital IO 6</dt>
			<dd>{{msg['proto/tm'].digital_io_6}}</dd>

			<dt>Digital IO 7</dt>
			<dd>{{msg['proto/tm'].digital_io_7}}</dd>

			<dt>Analog IO 0</dt>
			<dd>{{msg['proto/tm'].analog_io_0}}</dd>

			<dt>Analog IO 1</dt>
			<dd>{{msg['proto/tm'].analog_io_1}}</dd>
		</dl>
	</div>
</div>
