<div id="notifications" ng-show="todo.length > 0">
	<div class="container">
		<div class="col-xs-12" ng-init="shownotifications = false">
			<div ng-hide="shownotifications" ng-click="shownotifications = true">
				<a style="color:darkgrey;"><span class="glyphicon glyphicon-plus"></span></a>
				You have <a>{{todo.length}} steps</a> left to configure your network.
			</div>
			<div ng-show="shownotifications">
				<a ng-click="shownotifications = false;" class="pull-right">
					<span class="glyphicon glyphicon-remove">&nbsp;</span>
				</a>

				<h4>Complete the following steps</h4>
				<style type="text/css">
					.accordation > li > .text,
					.accordation > li.active > .body { display: block; }

					.accordation > li > .body,
					.accordation > li.active > .title { display: none; }

					.accordation > li.active {
						list-style: none;
						border-bottom: 1px solid #eaeaea;
						padding-bottom: 10px;
						margin-bottom: 15px;
					}
				</style>
				<ul class="accordation col-xs-7">
					<li ng-class="{active: activetodo === tpl}"
					    ng-repeat="(k, tpl) in todo"
					    ng-include="tpl" />
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="controller-containers container" ng-init="activetab = activetab || 'view'">

	<div class="col-md-9">
		<div ng-switch on="activetab">
			<div ng-switch-when="view">
				<div ng-include="'partials/network/view.html'"></div>
			</div>
			<div ng-switch-when="devices">
				<div ng-include="'partials/network/devices.html'"></div>
			</div>
			<div ng-switch-when="provision">
				<div ng-include="'partials/network/provision.html'" ng-controller="wbNetworkProvisionCtrl"></div>
			</div>
			<div ng-switch-default>
				<div class="page-title">
					<h1>Not found ;/</h1>
				</div>

				<p class="alert alert-danger">
					The tab '{{activetab}}' could not be found
				</p>
			</div>
		</div>
	</div>

	<div class="col-md-3">

		<ul style="padding-top: 10px; padding-left: 5px; margin-top: 90px" class="nav nav-stacked nav-pills">
			<li ng-class="{active: 'view' == activetab}"><a ng-href="#/network/{{net.key}}">Overview</a></li>
			<li ng-class="{active: 'devices' == activetab}"><a ng-href="#/network/{{net.key}}/devices">Devices</a></li>
			<li ng-class="{active: 'provision' == activetab}"><a ng-href="#/network/{{net.key}}/provision">Provisioning</a></li>
		</ul>

		<br />
		<br />
	</div>
</div>
