<div class="controller-containers container">

	<div ng-show="alertBody" class="error-container container">
		<hr />
		<div class="login-alert alert alert-{{alertClass}}">
			{{alertBody}}
		</div>
	</div>

	<form class="bs-callout bs-callout-info">
		<h2>Edit network <i>{{net.name}}</i></h2>

		<dl class="dl-horizontal col-md-5">
			<dt>Network Name</dt>
			<dd tm-editable="net.name" />

			<dt>Location: City</dt>
			<dd tm-editable="net.location.city" />

			<dt>Location: Country</dt>
			<dd tm-editable="net.location.country" />

			<dt />
			<dd class="pull-right">
				<br />
				<button ng-click="update(net)"  class="btn btn-primary btn-sm" ng-disabled="false == _changed">Save changes</button>
			</dd>
		</dl>

		<div class="clearfix"></div>

	</form>

	<table class="table">
		<thead>
			<tr>
				<th>Device Name</th>
				<th>Type</th>
				<th>Address</th>
				<th># messages</th>
				<th>Last Update</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in net.devices">
				<td>
					<a ng-href="#/{{resource}}/device/{{net.key}}/{{item.key}}">{{item.name || "Unnamed device (" + item.key + ")"}}</a>
					<!-- using net.channel[item.key] directly causes digest error -->
					<span
					   ng-init="item.gw = net.channel[item.key]"
					   ng-show="item.gw"
					   ng-class="{'label-success': net.channel[item.key][1], 'label-danger': !net.channel[item.key][1]}"
					   class="label">Network connector</a>
				</td>
				<td>{{item.type || "device"}}</td>
				<td>{{item.address}}</td>
				<td>
					   {{(item.counters.msg_event || 0) | number}}
					// {{item.counters.msg_command || 0 | number}}
					// {{item.counters.msg_fail || 0 | number}}</td>
				<td><a ng-href="#/{{resource}}/message/{{net.key}}/{{item.key}}/{{item.last_message}}">
					{{item.updated || "0" | date:'short'}}</a>
				</td>
			</tr>
		</tbody>
	<table>
</div>
