	<div class="container">
		<div class="col-md-9 col-xs-9" role="main">
			<div ng-switch on="activetab">
				<div ng-switch-when="profile">
					<div ng-include="'partials/profile/user.html'"></div>
				</div>
				<div ng-switch-when="authentication">
					<div ng-include="'partials/profile/authentication.html'"></div>
				</div>
				<div ng-switch-when="organizations">
					<div ng-include="'partials/profile/organizations.html'"></div>
				</div>
				<div ng-switch-when="audit">
					<div ng-include="'partials/profile/audit.html'"></div>
				</div>
				<div ng-switch-default>
					<div class="page-title">
						<h1>Not found ;/</h1>
					</div>

					<p class="alert alert-danger">
						The tab '{{activetab}}' could not be found
					</p>
				</div>
			</div>
		</div>

		<div class="col-md-3 col-xs-3">
				<br /> <br /> <br /> <br /> <br />

				<ul class="nav nav-stacked nav-pills">
					<li ng-class="{active: activetab === 'profile'}"><a ng-href="#/user/profile">Account</a></li>
					<li ng-class="{active: activetab === 'authentication'}"><a ng-href="#/user/authentication">Authentication</a></li>
					<li ng-class="{active: activetab === 'organizations'}"><a ng-href="#/user/organizations">Organizations</a></li>
					<li ng-class="{active: activetab === 'audit'}"><a ng-href="#/user/audit">Audit History</a></li>
				</ul>

				<br />
				<br />
		</div>
	</div>
