/**
 * colors:
 * 	#fafafa <- event more extremely light grey
 * 	#eaeaea <- extremely light grey
 * 	#555555 <- dark grey
 * 	#428bca <- light blue, links and such
 * 	#2980b9 <- dark blue, backgrounds
 */


h1,h2,h3,h4,h5 { font-weight: bold; }

.backdrop {
	background: rgba(255,255,255,0.8);
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; }

.backdrop .container { padding-top: 60px; }

.backdrop .errmodal {
	padding: 10px 15px 25px;
	border-radius: 5px;
	background: #fff;
	border: 1px solid #eaeaea; }

.backdrop .loader {
	margin: 10% auto;
	position: relative;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #eaeaea;
	width: 200px;
	height: 38px;
	padding: 9px 10px 5px 50px;
	font-weight: bold;
	color: #555; }


.backdrop .errmodal, .backdrop .loader {
	border-top-color: #d9d9d9;
	border-left-color: #d9d9d9;
	-moz-box-shadow: 3px 3px 5px #aaa;
	-webkit-box-shadow: 3px 3px 5px #aaa;
	box-shadow: 3px 3px 5px #aaa; }

#view { background: #FAFAFA;
        border-top: 1px solid #ffffff;
        border-bottom: 3px solid #eaeaea;
		padding-top: 60px;
        padding-bottom: 0px; }

footer {
	padding-bottom: 20px; }
footer > .container {
	padding-top: 35px;
	position: relative; }
	footer .footer-meta {
		font-size: 0.9em;
		border-radius: 3px;
		border: 2px solid #eaeaea;
		border-bottom: none;
		background: #fff;
		padding: 8px 15px 0;
		position: absolute;
		top: -28px;
		right: 22px; }

footer .nav li a {
	padding: 5px 10px;
	}
footer .nav li a:hover {
	background: transparent;
	text-decoration: underline; }

a { cursor: pointer; }
a > .glyphicon { color: darkgrey; }
a:hover > .glyphicon { color: #555; }

/**
 * Special pages
 */

/**
 * Login!
 */
.login-icon {
  color: white;
  position: relative; }

.login .login-container { position: relative; width: 520px; margin: 0 auto 90px; }
.login .login-container .login-form,
.login .login-container .alert { margin-left: 160px; width: 314px }
.login .login-container .alert { padding-left: 23px; padding-right: 23px }
.login .login-screen { background-color: #2980b9; padding: 125px 0px 33px 0px; }
.login .login-alert { position: absolute; top: -100px }

.login-screen {
  background-color: #1abc9c;
  min-height: 317px;
  padding: 123px 199px 33px 306px; }

.login-icon {
  left: 0px;
  position: absolute;
  top: 0px;
  width: 128px; }
  .login-icon > img {
    display: block;
    margin-bottom: 6px;
    width: 79%; }
  .login-icon > h4 {
	margin-top: 4px;
    font-size: 17px;
    font-weight: 200;
    line-height: 34px;
    opacity: 0.85; }
    .login-icon > h4 small {
      color: inherit;
      display: block;
      font-size: inherit;
      font-weight: 700; }

.login-form {
  background-color: #eceff1;
  border-radius: 6px;
  padding: 24px 23px 20px;
  position: relative; }
  .login-form:before {
    content: "";
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent #eceff1 transparent transparent;
    height: 0px;
    position: absolute;
    left: -12px;
    top: 35px;
    width: 0;
    -webkit-transform: rotate(360deg); }
  .login-form .control-group {
    margin-bottom: 6px;
    position: relative; }
  .login-form .login-field {
    border-color: transparent;
    font-size: 17px;
    padding-bottom: 11px;
    padding-top: 11px;
    text-indent: 3px;
    width: 268px; }
    .login-form .login-field:focus + .login-field-icon {
      color: #1abc9c; }
  .login-form .login-field-icon {
    color: #bfc9ca;
    font-size: 16px;
    position: absolute;
    right: 13px;
    top: 14px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden; }

.login-link {
  color: #bfc9ca;
  display: block;
  font-size: 13px;
  margin-top: 15px;
  text-align: center; }


/**
 * 404 Not found
 */
.not-found {
	color: white;
	position: relative; }

.not-found .not-found-screen { background-color: #2980b9; padding: 125px 0px 33px 0px; }
.not-found .not-found-container { position: relative; width: 770px; margin: 0 auto 90px; }
.not-found h1 { font-weight: bold; font-size: 4.5em; }
.not-found a { font-weight: bold; color: #fff; text-decoration: underline; cursor: pointer; }

/**
 * meta
 */

.page-header { position: relative; }
.page-header .encoding {
	position: absolute;
	top: 10px;
	right: 0px; }
	.encoding span.btn.btn-sm {
		width: 110px;
		height: 27px;
		padding-top: 8px; }
	.encoding .btn-sm {
		font-size: 10px; }

.row.actions > div {
	padding: 15px 15px 10px;
	border-top: 3px solid #e5e5e5;
	background: #f5f5f5;
	margin-bottom: 10px; }
	.row.actions .btn {
		margin: 0px 5px; }

.nav > li > a { cursor: pointer; }

/**
 * Boxes to click on
 */
.plug-out-parent {
	position: relative;
	z-index: 1; }
.plug-out {
	position: absolute;
	z-index: 2;
	top: 5px;
	left: 10px;
	padding: 15px 0px;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	background: #fafafa;
	min-width: 200px;
	display: none; }
.plug-out.active { display: inline-block; }
.plug-out .closebtn { padding: 7px 0px; }

a select, a input { color: #555; }

/**
 * Tabs
 */

.nav-tabs {
	border: none; }
.nav-tabs > li > a, .nav-tabs > li.active > a {
	background: inherit;
	border: none;
	border-bottom: 3px solid transparent;
	border-radius: 0px; }
.nav-tabs > li > a:hover {
	background: inherit; }
.nav-tabs > li.active > a,
	.nav-tabs > li.active > a:hover,
	.nav-tabs > li.active > a:focus {

	border: none;
	font-weight: bold;
	border-bottom: 3px solid #428bca; }

/**
 * Tables
 */
.table a .glyphicon { color: darkgrey; }
.table a:hover .glyphicon { color: #555; }
.table > tbody > tr > th { border-top: none; }

/**
 * Elements
 */

.form-action {
	margin-top: 10px;
	margin-bottom: 15px;
	padding-top: 5px;
	border-top: 1px solid #eee;
	background: #f3f3f3;
	padding: 25px 15px;
	}


/**
 * Stacked sidebar navigation
 */

.nav-stacked.nav-pills {
	margin-bottom: 25px; }
.nav-stacked.nav-pills > li {
	position: relative;
	margin-top: 0px; }
.nav-stacked.nav-pills > li > a {
	padding-top: 15px;
	border-radius: 0px;
	border-bottom: 1px solid #eaeaea; }
.nav-stacked.nav-pills > li.active {
	margin:10px 0px;}
.nav-stacked.nav-pills > li.active > a {
	font-weight: bold;
	color: #555;
	background: inherit;
	border-bottom: 3px solid #428bca; }

	.nav-stacked.nav-pills > li:not(.active):hover > a { background: none; border-color: #ccc;}
	.nav-stacked.nav-pills > li:hover {
		background: #f3f3f3;
	}
	.nav-stacked.nav-pills > li.active:hover {
		background: inherit;
	}

	.nav-stacked.nav-pills > li > a.icon {
		color: #999;
		width: 50px;
		z-index: 99;
		position: absolute;
		top: 0px;
		right: 0px;
		text-align:center;
		}
	.nav-stacked.nav-pills > li > a.icon:hover {
		color: #555;
		border-left: 1px solid #ccc;
		background: #ccc; }
	.nav-stacked.nav-pills > li.active > a.icon:hover {
		color: #fff;
		border-left: 0px;
		background: #428bca; }

#notifications {
	margin-top: -10px;
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-bottom: 1px solid #faebcc; }
#notifications > * {
	padding: 10px 20px}
