<!doctype html>
<html xmlns:ng="http://angularjs.org" id="ng-app" lang="en" ng-app="workbench">
<head>
  <meta charset="utf-8">
  <title>Tinymesh Cloud &ndash; Workbench</title>
  <link rel="stylesheet" href="dist/style.css">
</head>
<body ng-controller="wbAuthCtrl" ng-cloak>


	<div id="nav">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" ng-href="#/{{resource}}/network">Tinymesh Cloud Workbench</a>
				</div>

			  <div class="nav navbar-nav">
					<ol class="breadcrumb">
            <li ng-repeat="crumb in breadcrumb.getAll()">
                <ng-switch on="$last">
                    <span ng-switch-when="true">{{crumb.name}}</span>
                    <span ng-switch-default><a ng-href="#{{crumb.path}}">{{crumb.name}}</a></span>
                </ng-switch>
            </li>
					</ol>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown" ng-show="session.authenticated">
						<a href="#">{{user.email}} &ndash; ({{resource}})</a>

						<ul class="dropdown-menu">
							<li class="client" ng-class="{active: resource == key}" ng-repeat="(key, item) in user.resources">
								<a ng-href="#/{{key}}/network" class="client-selector">
									<span class="avatar"><img /></span>
									<span class="client-wrap">
										<span class="client-name">{{ key }}</span>
										<span class="client-meta">
										</span>
									</span>
								</a>
							</li>

							<li><a ng-href="#/user/profile">Profile</a></li>
							<li><a ng-click="logout()" href="#">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</div>


	<div id="view" ng-view></div>

	<footer>
		<div class="container">
			<div class="footer-meta">
				<a href="#">Back to top</a>
			</div>
			<div class="col-sm-3">
				<h5>What we do</h5>

				<ul class="nav">
					<li><a href="#">Overview</a></li>
					<li><a href="#">Case studies</a></li>
					<li><a href="#">Pricing</a></li>
					<li><a href="#">The TinySolution Network</a></li>
				</ul>
			</div>

			<div class="col-sm-3">
				<h5>Support</h5>

				<ul class="nav">
					<li><a href="#">Getting Started</a></li>
					<li><a href="#">Documentation</a></li>
					<li><a href="#">Hardware integration</a></li>
					<li><a href="#">TinyMesh protocol</a></li>
				</ul>
			</div>

			<div class="col-sm-3">
				<h5>About Us</h5>

				<ul class="nav">
					<li><a href="#">Company</a></li>
					<li><a href="#">Contact us</a></li>
				</ul>

				<br />

				<h5>Security & Privacy</h5>

				<ul class="nav">
					<li><a href="#">Information Security</a></li>
					<li><a href="#">Terms of service</a></li>
					<li><a href="#">Privacy Policy</a></li>
				</ul>
			</div>

			<div class="col-md-3">
				<h5>Secure, real-time communication</h5>

				<p>
					Extending the <b>TinyMesh</b> protocol, <b>TinySolution</b>
					ensures secure and fault-tolerant communication over a real-time
					network backbone; creating a robust platform tailored for
					automating industry, office and homes.
				</p>

				<hr />

				<p>
					&copy; 2012-2013 <a href="https://tiny-mesh.com">Tiny Mesh AS</a>.
				</p>
			</div>
		</div>
	</footer>

  <script src="dist/underscore.js"></script>
  <script src="dist/json3.js"></script>
  <script src="dist/angular.js"></script>
	<script src="dist/ngStorage.js"></script>
	<script src="dist/CryptoJS.js"></script>
	<script src="dist/tm.cloud.client.js"></script>
  <script src="dist/workbench.js"></script>
</body>
</html>


